@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply bg-black;
  @apply text-white/70;
}

html {
  scroll-behavior: smooth;
}

#nprogress .bar {
  @apply bg-brand-500;
}

#nprogress .spinner-icon {
  @apply border-t-brand-500;
  @apply border-l-brand-500;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;

}

.notion-quote:before {
  position: absolute;
  font-family: emoji;
  font-size: 4em;
  line-height: 1;
  content: "“";
  left: -56px;
  top: 0;
}

.notion-aside-table-of-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notion-aside-table-of-contents .notion-table-of-contents {
  display: block;
}

.notion-aside-table-of-contents-header {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
  word-break: break-word;
}

.notion-aside-table-of-contents .notion-table-of-contents-item {
  line-height: 1;
}

.notion-aside-table-of-contents
.notion-table-of-contents-item-indent-level-0:first-of-type {
  margin-top: 0;
}

.notion-aside-table-of-contents
.notion-table-of-contents-item-indent-level-0 {
  margin-top: 0.25em;
}

.notion-aside-table-of-contents
.notion-table-of-contents-item-indent-level-1 {
  font-size: 13px;
}

.notion-aside-table-of-contents
.notion-table-of-contents-item-indent-level-2 {
  font-size: 12px;
}

.notion-aside-table-of-contents .notion-table-of-contents-item-body {
  border: 0 none;
  font-size: 1rem;
}

.notion-h[data-active="true"] {
  position: sticky;
  top: -1px;
  background: black;
  z-index: 10;
  padding-top: 6px;
  padding-bottom: 6px;
}
